@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");

main {
  background-color: #FCFBFC;
}
body {
  padding: 30px;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #EFD9CE;
  background-color: #49393B;
}

a {
   color:inherit;
   text-decoration: none; 
}
h1 {margin: 5px}

/* CALENDAR ITEMS, LAYOUT */
.calendar{}
.calendar__week,
.calendar__header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);  
}
.calendar__week {
  grid-auto-rows: 100px;
}

.calendar__header {
  grid-auto-rows: 50px;
  align-items: center;
  text-align: center;
}

.calendar__day {
  padding: 16px;
}

/* CALENDAR ITEMS, STYLING */
.calendar {
  background-color: #89A894;
}
.calendar__header > div {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  color: #341C1C;
}
.calendar__day {
  text-align: center;
}

.tide {
  font-size: 14px;
  color: #341C1C;
}

.tide.tideam {}

.tide.tidepm {}

.tide.tidefullday { font-weight: 500; }

.tide.tidenotides { color: #49393B }

.circle {
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  color: inherit;
  font-size: inherit;
  line-height: 1.8em;
  text-align: center;
  background: inherit;
  display:inline-block
}

.today {
  background: #49393B;
}

.month {
    color: #EFD9CE;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    background: #341C1C;
    padding: 20px 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.month .prev {
 font-size: .8em;
 flex-shrink: 10;
}

.month .next {
 font-size: .8em;
 flex-shrink: 10;
}

/* Add media queries for smaller screens */
@media screen and (max-width:1024px) {
h1 {
  margin: 5px;
  font-size: 16px;
}
body {
  padding: 4px;
  font-size: 16px;
}
.calendar__week {
  font-size: 1.3em;
  grid-auto-rows: 15fr;
}
.calendar__header {
font-size: .9em;
grid-auto-rows: 5vh;
}
.calendar {
  font-size: 1.3em;
}
.month .prev { font-size: 4vh }
.month .next { font-size: 4vh }
}
@media screen and (max-width:1024px) and (orientation:landscape){
.calendar__week {
  font-size: 1.3em;
  grid-auto-rows: 17vh;
}
.calendar__header {
font-size: .9em;
grid-auto-rows: 10vh;
}
.tide {
  font-size: 15px;
}
}
@media screen and (max-width:768px) {
.calendar__week {
  grid-auto-rows: 100px;
  text-align: right;
}
.calendar__day {
  font-size: 15px;
  padding: 5px;
}
}

@media screen and (max-width:420px) {
.month{
font-size:20px}
.calendar__week {
  grid-auto-rows: minmax(80px, 13vh);
}
}

