@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");

main {
  background-color: #FCFBFC;
}
body {
  padding: 30px;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #25283D;
  background-color: #07BEB8;
}

ul { list-style-type: none; }
* { box-sizing: border-box; }

a {
   color:inherit;
   text-decoration: none; 
}
h1 {margin: 5px}

/* CALENDAR ITEMS, LAYOUT */
.calendar{}
.calendar__week,
.calendar__header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);  
}
.calendar__week {
  grid-auto-rows: 100px;
  text-align: right;
}

.calendar__header {
  grid-auto-rows: 50px;
  align-items: center;
  text-align: center;
}

.calendar__day {
  padding: 16px;
}

/* CALENDAR ITEMS, STYLING */
.calendar {
  background-color: #98DFEA;
  border: 0px solid #e1e1e1;
}
.calendar__header > div {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}
.calendar__day {
  border-right: 0px solid #e1e1e1;
  border-top: 0px solid #e1e1e1;
}
.calendar__day:last-child {
  border-right: 0;
}

.tideam {
  color: #25283D;
}
.tidepm {
  color: #25283D;
}
.tidefullday {
  font-weight: 500;
  color: #25283D;
}
.tidenotides {
  color: #8F3985
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  #font-size: 50px;
  color: inherit;
  line-height: 25px;
  text-align: center;
  background: #07BEB8;
  float: right;
}

.today {
  #border-right: 0px solid #e1e1e1;
  #border-top: 0px solid #e1e1e1;
  background: #FFE5F1;
}

.calendar__day:last-child {
  border-right: 0;
}

.month {
    color: #EFD9CE;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    background: #8F3985;
    padding: 20px 25px;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    #color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}
/* Add media queries for smaller screens */
@media screen and (max-width:1024px) {
.calendar__week {
  grid-auto-rows: 12vh;
  text-align: right;
}
.calendar__day {
  border-right: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
  font-size: 1.3em;
}
.calendar {
  border: 3px solid #e1e1e1;
}
}
@media screen and (max-width:1024px) and (orientation:portrait){
.month .prev { font-size: 45px }
.month .next { font-size: 45px }
.month .prev {padding-top: 15px}
.month .next {padding-top: 15px}
}
@media screen and (max-width:1024px) and (orientation:landscape){
.calendar__week {
  grid-auto-rows: 100px;
  text-align: right;
}
.month .prev { font-size: 45px }
.month .next { font-size: 45px }
.month .prev {padding-top: 0px}
.month .next {padding-top: 0px}
}
@media screen and (max-width:768px) {
.calendar__week {
  grid-auto-rows: 70px;
  text-align: right;
}
.calendar__day {
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  font-size: 15px;
  padding: 5px;
}
.calendar {
  border: 1px solid #e1e1e1;
}
}

@media screen and (max-width:420px) {
.calendar__week {
  grid-auto-rows: 70px;
  text-align: right;
}
.calendar__day {
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  font-size: 13px;
  padding: 3px;
}
.calendar {
  border: 1px solid #e1e1e1;
}
}

