<!doctype html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DWS Calendar</title>
  </head>

  <body>
    <h1>DWS Calendar</h1>
    <div class="month">
    <div class="prev"><a href="/?year=2018&month=9&style=style" title="Newer" rel="nofollow">&#10094;</a></div>
    <div>
    <a href="/" title="Today" rel="nofollow">October</a>
    <br>
    <span style="font-size:13px">2018</span>
    </div>
    <div class="next"><a href="/?year=2018&month=11&style=style" title="Older" rel="nofollow">&#10095;</a></div>
    </div>

    <div class="calendar">
      <div class="calendar__header">
        <div>mon</div>
        <div>tue</div>
        <div>wed</div>
        <div>thu</div>
        <div>fri</div>
        <div>sat</div>
        <div>sun</div>
      </div>
      {% for row in calendar %}
      <div class="calendar__week">
      {% for date in row %}
      <div class="calendar__day"><div class="circle day">{{date if date != 0 else ''}}</div><span style="font-size:25px"><br></span><span class="tide tideam">AM</span></div>
      {% endfor %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
