<!doctype html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/balzss/luxbar/ae5835e2/build/luxbar.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/swipe.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DWS Calendar</title>
  </head>
  <body class="Site noSelect">
    {% include 'header.html' %}
    <main class="Site-content">
      <h2>What is this site?</h2>
      This site shows the tides for Lan Ha Bay, Vietnam.
      <br>
      <br>
      <br>

      In 2017, I worked as a guide for Asia Outdoors on Cat Ba, Vietnam.
      Among the other things we did
      was deep water soloing in Lan Ha bay.

      <br>
      <br>
      I wanted to go back and climb more in 2019,
      but did not know what month would be the best for tides.
      After some looking,
      I found the site worldtides.info
      where I could get the tidal data I needed to build this site.
      <br>
      <br>
      <br>
      For most locations in Lan Ha bay, the tide is high enough to climb when it is above two meters.
      <br>
      <br>
      Check the guidebook for details, and dive to check the landings when climbing in uknown crags.
      <br>
      <br>
      <br>
      Now go climb!

      <br>
      <br>
      - Sakari


    </main>
    {% include 'footer.html' %}
  </body>
</html>
