<!doctype html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/balzss/luxbar/ae5835e2/build/luxbar.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/swipe.js') }}"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DWS Calendar</title>
  </head>
  <body class="Site noSelect">
    {% include 'header.html' %}
    <main class="Site-content">
      <div class="calendar-parent">
        <div class="calendar">
          <div class="month">
            <div class="prev"><a href="/?delta=-1&year={{year}}&month={{month}}&style=style" title="Older" rel="nofollow">&larr;</a></div>
            <div>
              <div> <a href="/" title="Today" rel="nofollow">{{month_name}}</a> </div>
              <div> <span style="font-size:13px">{{year}}</span> </div>
            </div>
            <div class="next"><a href="/?delta=1&year={{year}}&month={{month}}&style=style" title="Newer" rel="nofollow">&rarr;</a></div>
          </div>

          <div class="calendar-grid">
            <div class="calendar__header">
              <div>mon</div> <div>tue</div> <div>wed</div> <div>thu</div> <div>fri</div> <div>sat</div> <div>sun</div>
            </div>
            {% for row in cal %}
            <div class="calendar__week">
              {% for date, type in row %}
              {% if date != 0 %}
              <a href="/plot?year={{year}}&month={{month}}&date={{date}}" class="calendar_link">
                    <div class="ct-chart{{year}}-{{month}}-{{date}} ct-perfect-fourth"></div>
              </a>
    <script>
var options = {
  width: 90,
  height: 120,
  high: 3.5,
  low: 0,
  showArea: true,
  showLine: false,
  showPoint: false,
  fullWidth: true,
  axisX: {
    showLabel: false,
    showGrid: false
  },
  axisY: {
    onlyInteger: true,
    offset: 15
  }
};
var getData = $.get('/data', {year:{{year}}, month:{{month}}, date:{{date}} });

getData.done(function(results) {
    var data = {
        // A labels array that can contain any sort of values
        labels: [
            results.labels
        ],
        // Our series array that contains series objects or in this case series data arrays
        series: [
            results.series
        ]
    };

    // Create a new line chart object where as first parameter we pass in a selector
    // that is resolving to our chart container element. The Second parameter
    // is the actual data object.
    new Chartist.Line('.ct-chart{{year}}-{{month}}-{{date}}', data, options);

});

</script>
              {% else %}
              <div class="calendar__day">
                <div>&nbsp;</div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="instructions">
        <b>Click on the day to see the tides</b>
        <br>
        AM: tides above 2 meters until 1 PM<br>
        PM: tides above 2 meters from 1 PM til 5 PM<br>
        All day: just go climb!<br>
      </div>
    </main>
    {% include 'footer.html' %}
  </body>
</html>
