@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");

main {
  margin-top: 60px;
  padding: 30px;
  color: #644536;
  background-color: inherit;
  display: flex;
  flex-direction:column;
}
header {
  font-family: ITC Grouch;
}
body {
  font-family: Courier, Lato, Helvetica, Arial, sans-serif;
  font-size: 20px;
  background-color: #E2C391;
  margin: 0;
  padding: 0;
}

a {
   color:inherit;
   text-decoration: none; 
}
h1 {margin: 5px}

/* Top bar with arrows and month */
.month {
    color: #644536;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
    background: inherit;
    padding: 20px 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.month .prev {
 font-size: .8em;
 flex-shrink: 10;
}

.month .next {
 font-size: .8em;
 flex-shrink: 10;
}
/* CALENDAR ITEMS, LAYOUT */
.calendar{}
.calendar__week,
.calendar__header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);  
}
.calendar__week {
  grid-auto-rows: 100px;
}

.calendar__header {
  grid-auto-rows: 50px;
  align-items: center;
  text-align: center;
}

.calendar__day {
  padding: 16px;
}

/* CALENDAR ITEMS, STYLING */
.calendar {
}
.calendar__header > div {
  font-size: 0.8em;
  font-weight: bold;
  color: #1E1E24;
}
.calendar__day {
  text-align: center;
}

.tide {
  text-align: center;
  font-size: 14px;
  color: #475133;
}

.tide.tideam {}

.tide.tidepm {}

.tide.tidefullday { font-weight: 500; }

.tide.tidenotides { color: #49393B }

.circle {
  width: 2.0em;
  height: 2.0em;
  line-height: 2.0em;
  border-radius: 50%;
  color: inherit;
  font-size: inherit;
  text-align: center;
  background: inherit;
  display:inline-block;
  transition: background-color 0.9s ease;
}
.circle:hover {
  background-color: #E54B4B;
}

.today {
  background: #49393B;
}


/* Add media queries for smaller screens */
@media screen and (max-width:1024px) {
h1 {
  margin: 5px;
  font-size: 16px;
}
body {
  font-size: 16px;
}
.calendar__week {
  font-size: 1.3em;
  grid-auto-rows: 15fr;
}
.calendar__header {
font-size: .9em;
grid-auto-rows: 5vh;
}
.calendar {
  font-size: 1.3em;
}
.month .prev { font-size: 4vh }
.month .next { font-size: 4vh }
}
@media screen and (max-width:1024px) and (orientation:landscape){
.calendar__week {
  font-size: 1.3em;
  grid-auto-rows: 17vh;
}
.calendar__header {
font-size: .9em;
grid-auto-rows: 10vh;
}
.tide {
  font-size: 15px;
}
}
@media screen and (max-width:768px) {
.calendar__week {
  grid-auto-rows: 100px;
  text-align: right;
}
.calendar__day {
  font-size: 15px;
  padding: 5px;
}
}

@media screen and (max-width:420px) {
.month{
font-size:20px}
.calendar__week {
  grid-auto-rows: minmax(80px, 13vh);
}
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
.luxbar-header {
  color: #EEEFD2;
}
.luxbar-item {
  color: #EEEFD2;
}
.footer {
  background: #212121;
  color: #EEEFD2;
  font-size: 12px;
}
.footnote {
  font-family: Courier;
  display: flex;
  align-items: center;
  font-size: 12px;
  flex-direction: column;
  margin: 5px;
}
